*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
}
  .header {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
  }
    .head {
      background-color: #112B3C;
      display: flex;
      flex-flow: row nowrap;

    }
      .element1 {
        background-color: #FF4949;
        flex: 1 1 auto;
      }
      .element2 {
        background-color: #FF4949;
        flex: 5 1 auto;
      }

    .subhead {
      background-color: #FF8D29;
    }
      .element3 {
        background-color: #FFCD38;
      }


  .section {
    background-color: black;
    display: flex;
  }
    .articles {
      background-color: #764AF1;
      display: flex;
      flex: 2 1 auto;
      flex-flow: row wrap;
    }
      .article {
        background-color: #4B7BE5;
        flex: 1 1 35%;
      }
      .article2 {
        background-color: #6FDFDF;
        flex: 1 1 100%;
      }

    .aside {
      background-color: #EB5353;
      flex: 1 1 auto;
    }
      .aside1 {
        background-color: #FFEF82;
      }
  

  .footer {
    background-color: black;
  }
    .foot {
      background-color: #EFD345;
    }


    @media all and (max-width: 768px) {
      .section {
        background-color: #FFE400;
        flex-direction: column;
        
      } 
    }

    @media all and (max-width: 600px) {
      .head {
        flex-direction: column;
      }
        .element2 {
          flex: 1 1 auto;
        }
      
      .articles {
        flex: 1 1 auto;
        background-color: #2155CD;
      }
        .article {
          flex: 1 1 100%;
        }
      .aside {
        background-color: #F55353;
      }
        .aside1 {
          background-color: #FDAF75;
        }
    }

