*{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.padre{
  display: flex;
  flex-flow: column nowrap;
}
  .header {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
  }
    .head {
      background-color: #112B3C;
      display: flex;
      flex-flow: row nowrap;

    }
      .element1 {
        background-color: #FF4949;
        flex: 1 1 auto;
      }
      .element2 {
        background-color: #FF4949;
        flex: 5 1 auto;
      }

    .subhead {
      background-color: #FF8D29;
    }
      .element3 {
        background-color: #FFCD38;
      }


  .section {
    background-color: black;
  }
    .articles {
      background-color: #A85CF9;
    }
      .article {
        background-color: #4B7BE5;
      }
      .article2 {
        background-color: #6FDFDF;
      }

    .aside {
      background-color: #EB5353;
    }
      .aside1 {
        background-color: #FFEF82;
      }


  .footer {
    background-color: black;
  }
    .foot {
      background-color: #EFD345;
    }


